.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CSS */

.sidebar {

  position: fixed;
  height: 100%;
  width: 240px;
  background-color: #222;
  color: #eee;
  font-family: monospace;
  padding: 2rem;
  }
  
  .sidebar div {
  padding: 8px;
  font-size: 40px;
  display: block;
  }
  
  .body-text {
  margin-left: 150px;
  font-size: 18px;
  }

  .workspace {
    position: relative;
    top: 40px;
    left: 420px;  
    width: 600px;
    height: 100%;
    
  }

  .workspace div {
    display: flex;
    justify-content: center;
    }

  .items-table {
    background-color: #924646;
    align-self: center;
  }

  table {
    width: 100%;
  }
  
  th {
    height: 70px;
  }

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

  .page {
    height: 100%;
  }

.speech {
   font-size: 1.1em;
  color: #fff;
  background: #a53d38;
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.speech::after {
  content: "";
  border: 20px solid transparent;
  position: absolute;
}
 

.top.speech::after {
  border-bottom-color: #a53d38;
  border-top: 0;
  top: -20px; left: 50%;
  margin-left: -20px;
}

 


.headline {
  text-align: center;
  margin-bottom: 1em;
}

.shopping-table-container {
  margin: 0 auto;
  max-width: 800px;
}


.button-container {
  display: inline;
}

.button-container button {
  margin-right: 5px;
}


.text-container {
  display: block;
  margin-bottom: 10px;
}

.import-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.import-inner-window {
  display: block;
  margin-bottom: 10px;

}


.login-register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.register-wrapper {
  flex-direction: column;
}