/* Reset CSS */
/* Apply a basic reset to remove default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Responsive Layout */
  /* Set a default font size and line height for better scaling */
  html {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Media Queries */
  /* Define media queries to adjust styles based on screen sizes */
  /* For example, change layout and font size for smaller screens */
  
  /* Small devices (phones) */
  @media only screen and (max-width: 767px) {
    /* Add your responsive styles here */
  }
  
  /* Medium devices (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Add your responsive styles here */
  }
  
  /* Large devices (desktops and laptops) */
  @media only screen and (min-width: 1024px) {
    /* Add your responsive styles here */
  }
  

  .sidebar {
    font-family: 'Bungee Hairline', Monospace;
    position: fixed;
    top: 0;
    bottom:0;
    left: -210px; /* Move the sidebar off the screen initially */
    width: 260px;
    height: 100%;
    transition: left ease 0.5s; /* Transition the left property */
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
  }

  .sidebar:hover {
    background-color: #444;
    cursor: pointer;
    left: 0; /* Move the sidebar to the left edge of the screen on hover */
  }

  /* Sidebar content container */
  .sidebar-content {
    background-color: #444;
    display: flex;
    flex-direction: column;
    height: 35%;
    padding-top: 10%;
    justify-content: flex-start; /* Align content to the top */
    position: relative;
  }

  /* List items (buttons) */
  .sidebar-content li {
    background-color: #444;
    font-size: 16px;
    display: block;
    margin-bottom: 2px;
  }

  /* Links */
  .sidebar-content li a {
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 1.5%;
    text-decoration: none;
    color: wheat;
    display: flex; /* Use flexbox */
    align-items: center; /* Center the content vertically within the flex container */
  }
  
  /* Styling on hover */
  .sidebar-content li a:hover {
    background-color: #444;
    color: #fff;
    cursor: pointer;
    
  }
  
  /* SVG Icon */
  .sidebar-content li svg {
    margin-left: auto; /* Push the SVG icon to the right, aligning it at the end of the flex container */
    padding-right: 5px;
    font-size: 2em;
  }

  .logoutbutton {
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 26%;
    padding-right: 1%;
    text-decoration: none;
    color: wheat;
    display: flex; /* Use flexbox */
    align-items: center;
    
  }

  .logoutbuttonbox :hover{
    cursor: pointer;
    color: #fff;
  }

  .logoutbutton a svg:hover{
    color: #fff;
  }

  .logoutbutton:hover svg {
    color: #fff;
  }

  .logoutbutton svg{
    margin-left: auto;
    font-size: 2.5em;
    color: wheat;
  }

  
  .workspace {
    min-height: 100vh;
    
    position: relative;
    margin-left: 50px; /* Initial margin for the workspace */
    transition: margin-left ease 0.5s; /* Transition the margin-left property */
  }
  
  .sidebar:hover ~ .workspace {
    margin-left: 260px; /* Move the workspace to the right when the sidebar is hovered */
    filter: blur(.5px);
    
  }




  .shop-list-pantry {
    position: relative;
    width: 100%;
    height: calc(100vh - 400px);
    display: flex; /* Use flexbox to arrange the elements vertically */
    flex-direction: column; /* Arrange the elements vertically */
    /* justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  

  .shop-list-pantry .headline {
    margin: 1em;
  }

  .itemstable {
    background-color: #f5deb3;
    width: 900px;
  }

  .recipewindow {
    position: fixed; /* Position the child div absolutely */
    bottom: 0; /* Position it at the bottom of the parent div */
    width: 100%; /* Adjust the width as needed */
    max-height: 400px; /* Set a fixed height for the scrollable container */
    overflow: auto; /* Add scrollbars when content overflows */
    background-color: lightgray; /* Just for visualization, you can remove this */
    display: flex; /* Use flexbox to arrange the elements horizontally */
    justify-content: center; /* Center the .scrollmenu horizontally */
    align-items: center; /* Center the .scrollmenu vertically */
  }

  .scrollmenu {
    display: flex; /* Use flexbox to arrange the .scrollitem elements horizontally */
    flex-wrap: nowrap; /* Prevent the .scrollitem elements from wrapping to the next line */
    gap: 10px; /* Adjust the gap between .scrollitem elements as needed */
    overflow: auto; /* Add scrollbars when content overflows */
  }

  .scrollitem {
    width: 190px;
    height: 190px;
    flex-shrink: 0;
    background-color: #008080;
  }

  .scrollmenu::-webkit-scrollbar {
    display: none;
  }

  .table-input{
    border: none;
    outline: none;
    width: 100%;
    height: 36px;
    box-sizing: content-box;
    background: none;
    padding: 0;
    margin: 2px;
    font-size: large;
  }

  .table-row {
    height: 36px;
  }

  .table-cell {
    position: relative;
  }
  
  .dropdown-window {
    position: absolute;
    top: 100%; /* Position the dropdown below the input */
    left: 0;
    right: 0; /* Set both left and right to 0 to center the dropdown */
    background-color: rgb(128, 219, 235);
    z-index: 999; /* Make sure it appears on top of other elements */
    width: 100%; /* Set the width to 100% to match the width of the input */
    border: 1px solid #ccc;
  }

  .dropdown-cell {
    background-color:  #444;
    color: #fff;
  }

  .dropdown-cell:hover{
    background-color: teal;
    color: wheat;
  }