/* Reset CSS */
/* Apply a basic reset to remove default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Responsive Layout */
  /* Set a default font size and line height for better scaling */
  html {
    font-size: 16px;
    line-height: 1.5;
  }

  /* Hide the scrollbar */
  body {
    scrollbar-width: none; /* Firefox */
  }

  body::-webkit-scrollbar {
    width: 0; /* Remove default scrollbar on webkit-based browsers */
  }

  /* Set overflow to auto to enable scrolling */
  body {
    overflow: auto;
  }

  
  /* Media Queries */
  /* Define media queries to adjust styles based on screen sizes */
  /* For example, change layout and font size for smaller screens */
  
  /* Small devices (phones) */
  @media only screen and (max-width: 767px) {
    /* Add your responsive styles here */
  }
  
  /* Medium devices (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Add your responsive styles here */
  }
  
  /* Large devices (desktops and laptops) */
  @media only screen and (min-width: 1024px) {
    /* Add your responsive styles here */
  }



  .sidebar {
    font-family: 'Bungee Hairline', Monospace;
    position: fixed;
    top: 0;
    bottom:0;
    left: -210px; /* Move the sidebar off the screen initially */
    width: 260px;
    height: 100%;
    transition: left ease 0.5s; /* Transition the left property */
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
  }

  .sidebar:hover {
    background-color: #444;
    cursor: pointer;
    left: 0; /* Move the sidebar to the left edge of the screen on hover */
  }

  /* Sidebar content container */
  .sidebar-content {
    background-color: #444;
    display: flex;
    flex-direction: column;
    height: 35%;
    padding-top: 10%;
    justify-content: flex-start; /* Align content to the top */
    position: relative;
  }

  /* List items (buttons) */
  .sidebar-content li {
    background-color: #444;
    font-size: 16px;
    display: block;
    margin-bottom: 2px;
  }

  /* Links */
  .sidebar-content li a {
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 1.5%;
    text-decoration: none;
    color: wheat;
    display: flex; /* Use flexbox */
    align-items: center; /* Center the content vertically within the flex container */
  }
  
  /* Styling on hover */
  .sidebar-content li a:hover {
    background-color: #444;
    color: #fff;
    cursor: pointer;
    
  }
  
  /* SVG Icon */
  .sidebar-content li svg {
    margin-left: auto; /* Push the SVG icon to the right, aligning it at the end of the flex container */
    padding-right: 5px;
    font-size: 2em;
  }

  .logoutbutton {
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 26%;
    padding-right: 1%;
    text-decoration: none;
    color: wheat;
    display: flex; /* Use flexbox */
    align-items: center;
  }

  .logoutbuttonbox :hover{
    cursor: pointer;
    color: #fff;
  }

  .logoutbutton a svg:hover{
    color: #fff;
  }

  .logoutbutton:hover svg {
    color: #fff;
  }

  .logoutbutton svg{
    margin-left: auto;
    font-size: 2.5em;
    color: wheat;
  }

  

  
  .sidebar:hover ~ .workspace {
    margin-left: 260px; /* Move the workspace to the right when the sidebar is hovered */
    filter: blur(.5px); 
  }

  .shop-list-pantry {
    position: relative;
    width: 100%;
    display: flex; /* Use flexbox to arrange the elements vertically */
    flex-direction: column; /* Arrange the elements vertically */
    /* justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .shop-list-pantry .headline {
    margin: 1em;
  }


  .itemstablemin,
  .itemstable {
    background-color: #f5deb3;
    width: 900px;
  }


  /* {menu? "tablecontainer":"tablecontainermin" */

  .tablecontainermin,
  .tablecontainer{
    height: 90.5vh;
    overflow-y: auto;
    transition: height ease 0.5s;
    z-index: 1;
  }

  .tablecontainermin{
    height: 70vh;
    margin-bottom: 4px;
    overflow-y: auto;
    transition: height ease 0.5s;
    
  }


  .tablecontainermin::-webkit-scrollbar {
    display: none;
  } 

  .tablecontainer::-webkit-scrollbar {
    display: none;
  } 

  .horizontal-split{
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-gap: 20px;
  }

  .scrollmenu {
    display: flex; /* Use flexbox to arrange the .scrollitem elements horizontally */
    flex-wrap: nowrap; /* Prevent the .scrollitem elements from wrapping to the next line */
    gap: 10px; /* Adjust the gap between .scrollitem elements as needed */
    overflow: auto; /* Add scrollbars when content overflows */
    overflow-x: scroll; /* Allow horizontal scrolling */
}

.scrollitem {
    border-radius: 5px 5px 0px 0px;
    width: 190px;
    height: 190px;
    flex-shrink: 0;
    background-color: #008080;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.scrollitem.visible {
    opacity: 1;
    transform: translateY(0);
}

.scrollitem.removing {
  opacity: 0;
  max-height: 0;
  padding: 0;
}

.scrollitem-content{
  cursor: pointer;
  top: 10px;
  border-radius: 10px;
  position: relative;
  border: 1px solid;
  margin: auto;
  border-color: rgb(255, 255, 255);
  width: 90%;
  height: 90%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

}

.scrollitem-content-text{
  font-family: 'Bungee Hairline', Monospace;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 10px;
}

  .scrollmenu::-webkit-scrollbar {
    display: none;
  }

  .bottom-tab-null,
  .bottom-tab {
    font-family: 'Bungee Hairline', Monospace;
    width: 240px;
    background-color: #444;
    height: 45px;
    position: absolute; /* Use absolute positioning */
    bottom: 0; /* Position it at the bottom of the parent */
    right: 0%;;
    z-index: 2;
    color: #f5deb3;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .bottom-tab:hover{
    color: #fff;
    cursor: pointer;
  }

  .bottom-tab-null{
    color: gray;
    cursor: not-allowed;
  }

  .bottom-tab-null:hover{
    color: darkgray;
    cursor: not-allowed;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0); 
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
  
  .slide-up {
    animation: slideUp 0.5s ease-out; /* Adjust the duration and timing function as needed */
  }
  
  .slide-down {
    animation: slideDown 0.5s ease-out; /* Adjust the duration and timing function as needed */
  } 

  .workspace {
    /* overflow: hidden; */
    height: 100vh;
    max-height: 100vh;
    position: relative;
    margin-left: 50px; /* Initial margin for the workspace */
    transition: margin-left ease 0.5s; /* Transition the margin-left property */
  }
  

  .table-input{
    border: none;
    outline: none;
    width: 100%;
    height: 36px;
    box-sizing: content-box;
    background: none;
    padding: 0;
    margin: 2px;
    font-size: large;
  }

  .table-row {
    height: 46px;
  }

  .table-cell {
    position: relative;
  }
  
  .dropdown-window {
    position: absolute;
    top: 100%; /* Position the dropdown below the input */
    left: 0;
    right: 0; /* Set both left and right to 0 to center the dropdown */
    background-color: rgb(128, 219, 235);
    z-index: 999; /* Make sure it appears on top of other elements */
    width: 100%; /* Set the width to 100% to match the width of the input */
    border: 1px solid #ccc;
  }

  .dropdown-cell {
    background-color:  #444;
    color: #fff;
  }

  .dropdown-cell:hover{
    background-color: teal;
    color: wheat;
  }

  .recipe-pop-up{
    max-width: 100%;
  }

  .import-window{
    position: relative;
    width: 70%;
    display: grid;
  }


  .bubble {
    width: 400px;
    margin: 5px auto;
    background: #00bfb6;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    position:relative;
  }

  .bubble::after {
    content: "";
    border: 20px solid transparent;
    position: absolute;
  }


  .bubble::after {
    border-top-color:#00bfb6;
    border-bottom: 0;
    bottom: -20px; left: 50%;
    margin-left: -20px;
  }
  
  .popup {
    position: absolute;
    bottom: 6%;
    right: .5%;
    z-index: 3;
  }
